body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.center {
    text-align: center;
}
.border{
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
}
.section{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input, select {
    border: 1px solid #373C40;
    background: #E4E8F1;
    padding:10px;
    text-align: center;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.wrapper{
		width: 80%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.options{
		text-align: center;
		justify-content: center;
	}
	.container{
		margin-bottom: 20px;
	}
	.help{
		display: none;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.wrapper{
		width: 100%;
	}
}
